<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="margin-left:10%">
        1. Đăng nhập</br>
        <span>
            - Kích chuột vào đăng nhập.</br>
            - Muốn hiện mật khẩu: kích vào:"Hiện mật khẩu".</br>
            - Muốn thoát: Kích vào "Thoát".
        </span>
        <div style="margin-left:5%">
            <img src="../images/images/dangnhap.PNG" style="width:450px;height:300px"/>
        </div>     
        2.Sai mật khẩu hoặc tài khoản</br>
        - Hiện ra thông báo.
        <div style="margin-left:20%">
            <img src="../images/images/sai.PNG" style="width:200px;height:120px"/>
        </div>   
    </div>
</body>
</html>